body {
  position: relative;
  display: block;
  font-family: $roboto;
  font-size: 16px;
  line-height: 20px;
  font-weight: $regular;
  color: $black;
  background-color: $darkGray;
}

// WRAPPERS
.default-wrapper {
  width: 100%;
  display: block;
  position: relative;
  padding: 32px 24px;
}

.card {
  width: 100%;
  background-color: $white;
  border-radius: 16px;
  padding: 32px 24px;

  @media screen and (max-width: 767px) {
    padding: 24px 8px;
  }

  &.card-login {
    max-width: 100%;
    margin: 16px;
    width: 450px;
    height: 600px;

    @media screen and (max-width: 767px) {
      height: 440px;
      padding: 24px 26px;
    }
  }
}

// TYPOGRAPHY
.title {
  font-family: $roboto;
  font-size: 24px;
  line-height: 28px;
  font-weight: $bold;
}