@import "../variables";
@import "../utils";

header {
  width: 100%;
  background-color: $lowBlack;

  div.menu {
    height: 90px;
    display: flex;
    align-items: center;

    .logo {
      margin-right: 60px;
      max-width: 60%;
    }

    @media screen and (max-width: 767px) {
      justify-content: space-between;

      .logo {
        margin-right: 30px;
        img {
          max-width: 100%;
        }
      }
    }

    ul {
      display: flex;

      @media screen and (max-width: 767px) {
        display: none;
      }

      li.menu-item {
        cursor: pointer;
        margin-right: 60px;

        a {
          font-family: $roboto;
          font-size: px-rem(20px);
          line-height: px-rem(24px);
          color: $white;
          transition: color .3s ease-in-out;
        }

        &:hover {
          a {
            color: $primary;
            transition: color .3s ease-in-out;
          }
        }
      }
    }

    div.user {
      margin-left: auto;
      
      div.user-img {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $white;
      }
    }

    button.btn-hamburguer {
      display: none;
      width: 42px;
      height: 42px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      padding: 12px 8px;
    
      svg {
        width: 25px;
        height: 17px;
      }

      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }

  .menu-mobile {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
    padding: 11px 0;
    display: none;

    @media screen and (max-width: 767px) {
      display: block;
    }

    &.menu-open {
      transform: translateX(0%);
      transition: transform .4s ease-in-out;
    }

    .logo {
      display: block;
      margin-bottom: 40px;
      max-width: 60%;
    }

    @media screen and (max-width: 767px) {
      .logo {
        img {
          max-width: 100%;
        }
      }
    }
    
    button.btn-close {
      position: absolute;
      width: 42px;
      height: 42px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      padding: 12px 8px;
      right: 16px;
      top: 8px;
    
      svg {
        width: 30px;
        height: 30px;
      }
    }

    ul {
      li.menu-item {
        cursor: pointer;
        margin-bottom: 30px;

        a {
          font-family: $roboto;
          font-size: px-rem(32px);
          line-height: px-rem(36px);
          color: $white;
          transition: color .3s ease-in-out;
        }

        &:hover {
          a {
            color: $primary;
            transition: color .3s ease-in-out;
          }
        }
      }
    }
  }
}