@import "../variables";
@import "../utils";

header {
  width: 100%;
  background-color: $lowBlack;

  div.menu {
    height: 90px;
    display: flex;
    align-items: center;

    .logo {
      margin-right: 60px;
    }

    ul {
      display: flex;

      li.menu-item {
        cursor: pointer;
        margin-right: 60px;

        a {
          font-family: $roboto;
          font-size: px-rem(20px);
          line-height: px-rem(24px);
          color: $white;
          transition: color .3s ease-in-out;
        }

        &:hover {
          a {
            color: $primary;
            transition: color .3s ease-in-out;
          }
        }
      }
    }

    div.user {
      margin-left: auto;
      
      div.user-img {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $white;
      }
    }
  }
}